[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyalby = "*"
dotenv = "*"
fewsats = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
